@{
    ViewData["Title"] = "Home Page";
}
@model int

<div class="text-center">
    <h2>Here is my integer from ViewBag: @ViewBag.MyNum<h2>
    @* Take note we use a capital "M" Model here, but a lowercase "m" model above *@
    <h2>Here is my integer from ViewModel: @Model<h2>
</div>
